{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'locations' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Locations</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'donors' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Donors</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'bloodrequests' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Blood Requests</span></a></li>
            
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'signout' %}" aria-expanded="false"><i class="mdi mdi-logout"></i><span class="hide-menu">Signout</span></a></li>
              
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>